{{ partial "header" . }}

{{ partial "entry" . }}

{{ partial "kyash-me" . }}

<div id="other-entries">
  <h3>前後の記事や他の記事もどうぞ</h3>
  <ul>
  {{ if .NextPage }}
    <li>
      <a href="{{ .NextPage.URL }}" title="{{ .NextPage.Title }}">{{ .NextPage.Date.Format "2006-01-02" }} : {{ .NextPage.Title }}</a>
    </li>
  {{ end }}
  {{ if .PrevPage }}
    <li>
      <a href="{{ .PrevPage.URL }}" title="{{ .PrevPage.Title }}">{{ .PrevPage.Date.Format "2006-01-02" }} : {{ .PrevPage.Title }}</a>
    </li>
  {{ end }}
  </ul>
</div>

{{ partial "footer" . }}
