<h4>おもしろかったら、いいジャン！してね</h4>
<p class="hatena-star-container">
  <p class="display-none">
    <a href="{{ . }}" class="original-url">{{ . }}</a>
  </p>
</p>
<p class="social-widgets">
  <div class="fb-like" data-href="{{ . }}" data-layout="box_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-url="{{ . }}" data-related="june29" data-show-count="true">Tweet</a>
  <a href="{{ replace . "http://" "http://b.hatena.ne.jp/entry/" }}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ . }}" data-hatena-bookmark-layout="vertical-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
</p>
